extends layout

block content
  h1= "login page"
  #loginForm
    .username 
      p= "username"
      input(
        type='text'
        name='userName'
      )
    .password
      p= "password"
      input(
        type='password'
        name='password'
      )
    button(
      text= "login"
    )
